<p id="notice"><%= notice %></p>

<p>
  <b>Directory:</b>
  <%= @image.directory %>
</p>

<p>
  <b>Filename:</b>
  <%= @image.filename %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
